.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 50%;
    margin: 30px auto;
}

.wrapper{
    display: flex;
    flex-flow: column;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 50px auto;
    height: 350px;
}

.form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
}

.btn{
    margin-top: 15px;
}