.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 45px;
}

.heading{
    margin-bottom: 40px;
}

.loader{
    margin-top: 15%;
    margin-left: 47%;
}

.heading, .pagination{
    flex: 0 1 100%;
}

.pagination{
    margin: 20px auto;
    max-width: fit-content;
}

.selection{
    flex: 0 1 17%;
}

.tag{
    border-bottom: 1px solid lightgray;
}

.products{
    flex: 0 1 80%;
}

@media only screen and (max-width: 660px) {
    .products {
        flex: 0 1 100%;
    }
}