.loader{
    margin-top: 15%;
    margin-left: 47%;
}

.items {
    margin: 20px 5px;
}

.price-section{
    margin: 40px 20px 10px 20px;
    font-size: 20px;
}

.total-price{
    margin-top: 6px;
}

.order-button{
    margin: 20px auto 10px auto;
    max-width: fit-content;
}

.shopping-button{
    margin: 0 auto;
    max-width: fit-content;
}

.empty-cart{
    margin: 40px 0 0 40px;
}