.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    margin: 20px;
}

.item{
    flex: 0 1 25%;
}

.item:hover{
    text-decoration: underline;
}

.image{
    height: 140px;
}

.clearIcon:hover{
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .image {
        height: 70px;
    }
}