.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 0;
    max-width: 50%;
    margin: 40px auto;
    min-height: 70vh;
}

.description{
    max-width: 35%;
}

.image{
    max-height: 140px;
    margin-bottom: 25px;
}